body {
    font-family: Pretendard Variable, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul.left {
    float: left;
    margin-left: 20px;
}

nav ul.center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.home-icon {
    width: 20px;
    height: 20px;
}

.clear {
    clear: both;
}

main {
    padding: 80px 20px 20px;
    text-align: center;
    margin: 0 200px;
    background-color: #ececec; /* 배경색 변경 */
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    border-bottom: 1px solid #444;
}

.footer-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-top ul li {
    margin-right: 15px;
}

.footer-top .social-media a {
    margin-left: 10px;
}

.sns_icon {
    width: 20px;
    height: 20px;
}

.footer-bottom {
    padding: 10px 200px;
    font-size: 0.9em;
    color: #ccc;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    footer {
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        padding: 20px 20px;
    }

    .footer-top ul {
        justify-content: center;
    }

    .footer-bottom {
        padding: 10px 20px;
    }

    main {
        margin: 0 20px;
    }
}

/* ============================== */

#sub3_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #f5f5f5;
    border-radius: 30px;
    margin: 20px;
}

.intro {
    display: flex;
    align-items: center;
}

.intro-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: #ffffff;
    box-shadow: inset 0 0 10px #00000036;
}

#snowglobe-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-color: #f55050;
    box-shadow: 0 0 10px #00000036;
}

.snowglobe-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snowglobe {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.snowglobe img {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 39px;
    left: 50%;
    transform: translateX(-50%);
}

.snowflakes {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    width: 20px;
    height: 20px;
    animation: fall 5s infinite linear;
}

.snowflake:nth-child(2) {
    left: 25%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.snowflake:nth-child(3) {
    left: 50%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.snowflake:nth-child(4) {
    left: 75%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.snowflake:nth-child(5) {
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

@keyframes fall {
    0% {
        top: -50px;
        opacity: 1;
    }
    100% {
        top: 130px;
        opacity: 0;
    }
}

img.snowflake {
    width: 20px;
    height: 20px;
}

.base {
    width: 150px;
    height: auto;
    margin-top: -100px;
}

.intro-text {
    margin-left: 20px;
}

.intro-text h2 {
    font-weight: bold;
    font-size: 2rem;
}

.intro-text p {
    font-weight: 500;
    font-size: 1.2rem;
}

#content_1, #content_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px; /* 고정된 높이 */
    background-color: #e0e0e0; /* 배경색 */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#content_2{
    height: 800px; /* 고정된 높이 */
}

#content_2 article, #content_1 article {
    width: 100%;
    max-width: 800px;
    border-radius: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    margin: 10px 0;
}
#content_1 p, #content_2 p {
    font-weight: 500;
    font-size: 1rem;
}

h2, h3 {
    color: #333;
}
